**/*.blend
**/*.fbx
**/*.glb
**/*.gltf
**/*.obj
**/*.stl
**/*.zip
**/*.tar
**/*.tar.gz
**/*.tif
**/*.tiff
**/*.ome.tif
**/*.ome.tiff
**/*.part
**/derived/
!README.md
!**/provenance.json
!**/README.md
